<div class="container">
    <div class="row">
      <div class="col">
        <div *ngFor="let item of quize">
          <button class="btn btn-primary m-1" (click)="selectMatiere(item.matiere)">{{ item.matiere }}</button>
        </div>
      </div>
    </div>
  
    <div class="row" *ngIf="selectedMatiere">
      <div class="col">
        <div *ngFor="let item of quize">
          <div *ngIf="item.matiere === selectedMatiere">
            <button class="btn btn-secondary m-1" (click)="selectCour(item.cour)">{{ item.cour }}</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row" *ngIf="selectedCour">
      <div class="col">
        <div *ngFor="let item of quize">
          <div *ngIf="item.cour === selectedCour" class="card mt-3">
            <div class="card-body">
              <p class="card-text">{{ item.question }}</p>
              <div *ngFor="let option of item.reponses.split('|'); let i = index" class="form-check">
                <input class="form-check-input" type="radio" name="reponse{{ item.id }}" [value]="i" (change)="checkAnswer(i, item.rep)">
                <label class="form-check-label">{{ option }}</label>
              </div>
            </div>
          </div>
        </div>
        <p class="mt-3">Score: {{ correctAnswers }}</p>
        <p>Moyenne: {{ calculateAverage() }}%</p>
      </div>
    </div>
  </div>
  