<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let c of cours">
        <div class="card">
          <div class="card-body">
            <h5 class="card-text">course name: {{c.nameFile}}</h5>
            <img src={{c.imgFile}} alt="file img">
            <a [href]="'data:application/pdf;base64,' + c.urlFile" download="PDF Title" (click)="downloadPDF(c)">Download PDF document</a>
            <a [routerLink]="['/quiz']" [queryParams]="{ cours: c.nameFile }"><h2>quiz selon le cour {{c.nameFile}}</h2> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
